# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.venv/

# IDE specific files
.idea/
.vscode/

# Python distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

